.background {
  background: lightgray;
  min-height: -webkit-fill-available;
}
.container {
  width: 95%;
  margin: 2%;
  border: 1px solid black;
  background: teal;
  box-shadow: 5px 5px gray;
}
.container2 {
  width: 50%;
  margin: 2% auto 2% auto;
  border: 1px solid black;
  background: teal;
  box-shadow: 5px 5px gray;
}
.itemContainer {
  width: 95%;
  margin: 20px;
  padding: 5px 10px 5px 10px;
  border: 1px solid black;
  background: white;
}
.title {
  font-size: 120%;
  font-weight: bold;
  text-decoration: underline;
}
.author {
  font-weight: bold;
}
.bookPic {
  float: left;
  margin: 10px 10px 10px 0px;

  width: 100px;
}
.description {
  font-style: italic;
  margin: 5px 20px 5px 20px;
}
.bookLink {
  font-weight: bold;
  margin-left: 3px;
}
.saveBook {
  margin: 10px 5px 5px 5px;
}