.headerContainer {
  background: white;
  text-align: center;
  width: 40%;
  margin: 30px auto 30px auto;
  padding: 10px;
  border: 1px solid black;
  border-radius: 65px;
  box-shadow: 5px 5px gray;
}
.header{
  margin: 20px auto 5px auto;
}
.subHeader {
  font-style: italic;
  margin: 0px auto 20px auto;
}
.teal {
  color: teal;
}
.ltblue {
  color: royalblue;
}
.red {
  color: rgb(248, 52, 52);
}
.yellow {
  color: yellow;
}
.green {
  color: rgb(32, 151, 32);
}